<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="kWziZraRIS2muL4CiBYameb80BLecWwG9D8cx85xEKc" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>光遇Sky: Children of the Light</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-example3">
    <center>
    <div class="container">
    <h1>歡迎光臨</h1>
  </center>
    <hr>

    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ACD6FF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"> <!--class="text-dark"-->
          <a type="button" class="text-dark btn btn-outline-light" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">晨島</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">雲野</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">雨林</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">霞谷</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">暮土</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">禁閣</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">禁閣</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            暴風眼
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">伊甸</a></li>
            <li><a class="dropdown-item" href="#">獻祭</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<center>
  <hr>
 <h1>
  <div style='font-family:微軟正黑體';>現在時刻 :{{ now }}</div>
 </h1>
</center>
<hr>
 </body>
 </html>