<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="kWziZraRIS2muL4CiBYameb80BLecWwG9D8cx85xEKc" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>光遇Sky: Children of the Light</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-example3">
    <center>
    <div class="container">
    <h3>因光而遇</h3>
  </center>
    <hr>

    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ACD6FF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">光遇</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item"> <!--class="text-dark"-->
          <a type="button" class="text-dark btn btn-outline-light" aria-current="page" href="/">主頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/season/">重組季</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            地圖
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/index1/">晨島</a></li>
            <li><a class="dropdown-item" href="/icloud/">雲野</a></li>
            <li><a class="dropdown-item" href="/index1/">雨林</a></li>
            <li><a class="dropdown-item" href="/index1/">霞谷</a></li>
            <li><a class="dropdown-item" href="/index1/">暮土</a></li>
            <li><a class="dropdown-item" href="/index1/">禁閣</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            季節
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/index1/">凜冬季</a></li>
            <li><a class="dropdown-item" href="/index1/">感恩季</a></li>
            <li><a class="dropdown-item" href="/index1/">追光季</a></li>
            <li><a class="dropdown-item" href="/index1/">歸屬季</a></li>
            <li><a class="dropdown-item" href="/index1/">音韻季</a></li>
            <li><a class="dropdown-item" href="/index1/">魔法季</a></li>
            <li><a class="dropdown-item" href="/index1/">聖島季</a></li>
            <li><a class="dropdown-item" href="/index1/">預言季</a></li>
            <li><a class="dropdown-item" href="/index1/">夢想季</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/index1/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            暴風眼
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/index1/">伊甸</a></li>
            <li><a class="dropdown-item" href="/index1/">獻祭</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
 <div class="container">
    <div class="row">
      <div class="col">
        <center><br><br><br>
      <div class="card" style="width: 85%;">
        <img src='/static/cover1.jpg' class="card-img-top" alt="...">
      </div>
        </center>
      </div>
      
     <div class="col-7">
       <center>
           <div class="alert" style="background-color: #FFEEDD;width: 70%;" role="alert">
               <h4><p>進行中的季節：重組季</p></h4>

            <p> 準備宣誓效忠作為童子軍-紀念Sky和一生的友誼！</p>
               
        </div>
              <iframe style="width: 100%;" src="https://www.youtube.com/embed/Tq0hZMlJDBU?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>

      <div class="col">
        <center><br><br><br>
      <div class="card" style="width: 130%;">
        <img src='/static/cover2.jpg' class="card-img-top" alt="...">
      </div>
        </center>

      </div>

    </div>
  </div>
 <div class="clearfix hidden-xs"></div>


    <hr>
<!--    <div class="container">
    <div class="row">
      <div class="col">
        <center>
      <div class="card" style="width: 85%;">
        <img src='/static/cover1.jpg' class="card-img-top" alt="...">
      </div>
        </center>
          
      </div>
      
     <div class="col-7">
        <center>
      <div class="card" style="width: 100%;">
        <img src='/static/cover2.jpg' class="card-img-top" alt="...">
      </div>
        </center>

      </div>
    </div>
  </div>
 <div class="clearfix hidden-xs"></div>-->
    
          
<br>


<ol class="list-group list-group-numbered" style="background-color:  #C4E1FF;">
<div class="container">
  <div class="row">
    <div class="col-2">
      <br>
      <nav id="navbar-example3" class="nav nav-tabs" style="background-color: #DDDDFF;">
        <a class="nav-link active" aria-current="page" href="/">概述</a>
        <nav class="nav-item">
          <a class="nav-link active" href="#item-1">起源</a>
          <a class="nav-link active" href="#item-1-1">開發</a>
          <a class="nav-link active" href="#item-1-2">發行時間</a>
          <a class="nav-link active" href="#item-2">遊戲內容</a>
        </nav>
      </nav>
    </div>

<div class="col">
<br>
<div  data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" style="height:300px;overflow:auto; position: relative;">
  <h4 id="item-1" class="fw-bold">起源</h4>
  <p>
    &nbsp;&nbsp;《Sky光·遇》（Sky: Children of the Light）是一部由thatgamecompany開發並發行在iOS和Android平台上的社交冒險遊戲。本作是thatgamecompany繼《風之旅人》之後時隔5年的新作品，也是thatgamecompany完成與索尼合作後獨立自主發行的首個作品。<br>
    支援iOS和Android版本以及任天堂Switch主機平台。

  </p>
  <h5 id="item-1-1" class="fw-bold">開發</h5>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Sky《光·遇》，於2016年11月1日公布代號「that next game」；<br>
    遊戲在2017年9月的蘋果新品發布會上正式公布。於2017年冬季發售。中國地區由網易代理發行。
  </p>
  <h5 id="item-1-2" class="fw-bold">發行時間</h5>
  <p>
    iOS<br> 
    &nbsp;&nbsp;全球：2019年7月18日<br><br>

    Android <br>
    &nbsp;&nbsp;日本：2019年12月14日<br> 
    &nbsp;&nbsp;全球：2020年4月7日 <br>
    &nbsp;&nbsp;中國大陸：2020年7月9日<br><br>

    任天堂Switch
    &nbsp;&nbsp;全球：預計2021年內<br>
  </p>
  <h4 id="item-2" class="fw-bold">遊戲內容</h4>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;遊戲分為七個地圖，遇境（初始地圖）、晨島、雲野、雨林、霞谷、暮土、禁閣、暴風眼，大地圖中還有其他一些小地圖:隱藏地圖、季節地圖。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;玩家將操控一個光明之子（Child of the light）在其中探險，<t class="fw-bold">收集先祖的動作、翅膀</t>，逐漸揭開天空王國沒落的真相，最後將在暴風眼用光之翼拯救旅人，得到救贖並重生。<br>
    <t class="fw-bold">&nbsp;&nbsp;遊戲最多支援同地圖內8人同時連線。</t>
  </p>
</div>
</div>
</div>
</div>
</ol>
<center>
      <br><hr>
        <div class="card" style="width: 60%;">
            <img src='/static/1616498380761.jpg' class="card-img-top" alt="...">
            <div class="card-body">
              <h4><p class="card-text">Sky: Children of the Light</p></h4>
             </div>
          </div>
</center>

<br>

<div class="container">
    <div class="row">
      <div class="col-5">
          <div class="card" style="width: 100%;">
            <img src='/static/cover.jpg' class="card-img-top" alt="...">
            <div class="card-body">
              <h4><p class="card-text">Sky: Children of the Light</p></h4>
             </div>
          </div>
      </div>
      
     <div class="col">
      <br><hr>
        <div class="alert alert-dark" role="alert">
          <h4><p>歡迎提供資訊，請<a target="_blank" href="mailto:jimmy910824@gmail.com?subject=資訊告知&body= 您好：%0D%0A請問您想告訴我~%0D%0A%0D%0A1.%0D%0A%0D%0A我將使用您所提供的資訊，並不再次告知，請確保資訊來源正當，謝謝您。" class="alert-link">寫信</a>告訴我!</p>
              <p>謝謝你~</p>
          </h4>
        </div>  
      </div>
    </div>
  </div>
 <div class="clearfix hidden-xs"></div>
 
  	<center>
    		  <br>版權沒有 歡迎使用</br>
          <br>聯絡信箱 : jimmy910824@gmail.com</br>
          <br>詳情請至<a target="_blank" href="https://thatgamecompany.com/" class="alert-link">官網查詢</br>
          <hr><br><br>
    </center>
 

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->


  </body>
</html>