<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="kWziZraRIS2muL4CiBYameb80BLecWwG9D8cx85xEKc" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>renee專業實用生活網</title>
  </head>
  <body>
    <center>
    <div class="container">
    <h1>歡迎光臨</h1>
  </center>
    <hr>

    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light bg-light">   

  <div class="container-fluid">
  
    <h3>  
    <span class="badge rounded-pill bg-secondary" href="#"> Love </span>
    </h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <li class="nav-item">
        <div class="container">
          <div class="col">
           <a type="button" class="btn btn-outline-warning" class="nav-link active" aria-current="page" href="/">Home</a> 
           
        </li>
        <li class="nav-item">
          <div class="container">
          <div class="col">
          <a type="button" target="_blank" class="btn btn-outline-secondary" class="nav-link" href="http://ee.nkust.edu.tw/">電機工程系</a>
          
        </li>
        <li class="nav-item">
          <div class="container">
            <div class="col"> 
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/lotto/">樂透預測</a>
        </li>

        <li class="nav-item">
          <div class="container">
          <div class="col">
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/date/">時間</a>
        </li>

        <li class="nav-item">
          <div class="container">
            <div class="col"> 
          <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/play/">即時新聞</a>
        </li>

        <li class="nav-item dropdown">
          <div class="container">
          <a type="button"  class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">關於創作者</a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/shian.bo.tsz">Fb</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://www.instagram.com/tszshian">Instagram</a></li>
            <li><a class="dropdown-item" target="_blank" href="/date1/">持續增加中</a></li>
          </ul>
        </li>

        <li class="nav-item">
         <div class="container">
            <div class="col">
           <a type="button" class="btn btn-outline-secondary" class="nav-link" href="/passfirst/">媽媽</a>
        </li>
        
        <li class="nav-item">
          <div class="container">
          <div class="col"> 
          <a  type="button" class="btn btn-outline-secondary" class="nav-link " href="/admin/" tabindex="-1" aria-disabled="true">後臺管理</a>
   
          </div>  
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<center>
  <hr>

<h2> 樂透號碼預測 </h2>
<hr>
<!--{% for n in lotto %}
    {{ n }}
{% endfor %}-->
{{ lotto }}<br>
特別號:{{ special }}

</center>
<hr>

</body>

