<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>renee專業實用生活網</title>
  </head>
  <body>
  	<center>
  	<div class="container">
    <h1>歡迎光臨</h1>
  </div>
	</center>
    <hr>
    <script data-ad-client="ca-pub-2415998114933157" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <hr>

<nav class="navbar navbar-expand-lg navbar-light bg-info">

  <div class="p-1">
    	<h3>	
    	<span class="badge rounded-pill bg-secondary" href="#">Renee</span>
    	</h3>
  </div>
  

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active text-dark bg-warning" aria-current="page" href="/">回主頁</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false">常用<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>網頁</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/fanamericantime/posts/1450867801929450">范琪斐的美國時間</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/pastrydaily/">呂昇達老師的烘焙市集</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/Vogue/">Vogue</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/BaCoStreet/">貝克街 謎-巧克力蛋糕</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/RotundWeiss2014/">阿紅與阿雪 CHERN JINN</a></li>
        <div class="btn-group dropend">
          <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/51sasa">Sasa漫手作</a></li>
            <a class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
            </a>
          <li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/groups/220704195217592">Sasa漫手作的小教室</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false">常用<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
      <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
    </svg>網頁</a>

    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UChgCVolsF6L7DWmOpWKSkMA">越哥說電影</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCZg4j8q1h0fT_j48R3aN4Lg">安迪老師 Teacher Andy</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCAuUUnT6oDeKwE6v1NGQxug">TED</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
  <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
  <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
</svg>教學資料</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCyCu6dHLVmRyjj-aL6cqyww">NEWNEW Channel 牛牛頻道</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCZg4j8q1h0fT_j48R3aN4Lg">安迪老師 Teacher Andy</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCxXsJ7Ki8ofB0s0gpsipzlA">我是江老師</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false">追劇<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
  <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
</svg></a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://langlangbay.org/">中國人線上看</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false">購物<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
  <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
</svg></a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://www.books.com.tw/?gclid=CjwKCAjwgZuDBhBTEiwAXNofRGZy7xdOgBNXZceUg3q_kgDco8wRjXxhEqKJpmX8WTFEy56YpxUkaRoCGXEQAvD_BwE">博客來</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://shopee.tw/">蝦皮</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="/mom/" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-headphones" viewBox="0 0 16 16">
  <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
</svg>廣播電台</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" target="_blank" href="https://www.kbs.gov.tw/index.aspx?fbclid=IwAR1gm5uz5MmE1P_VtTp3N24or-E0ZoPgB4RBuHeNHirSymSnpsXj9bhxpAE#/">高雄廣播電台</a></li>
      <li><a class="dropdown-item" target="_blank" href="https://www.ner.gov.tw/">國立教育廣播電臺</a></li>
      <li><a class="dropdown-item" target="_blank" href="http://www.bcc.com.tw/stream.html?c=0">中廣流行網線</a></li>
    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link text-dark" target="_blank" href="http://xue.8liuxing.com/">布流行手工學院</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">。。。</a>
  </li>
</div>
</ul>
</li>
</div>
</li>
</ul>
</nav>

    <hr>
      <div class="container">
        <br>
          <div class="row">
            <div class="col-4">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    我想去...
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item btn-lg" href="https://www.facebook.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>臉書逛逛</a></li>
                    <li><a class="dropdown-item btn-lg" href="https://www.youtube.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
      <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
    </svg>看看youtube</a></li>
                  </ul>
                </div>
              </div>

               <div class="col">
                <div class="card" style="width: 350px;">
                  <img src="https://upload.cc/i1/2021/04/02/LjUocX.jpg" class="card-img-center" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">媽媽我愛你<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg></h5>
                    <p class="card-text">There is nothing either good or bad, but thinking makes it so.</p>
                    <a href="https://drive.google.com/drive/" target="_blank" class="btn btn-primary">我的雲端硬碟</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

  		<center>		
    		  <br>天天開心<br><br><br>
          </td>  
          </tr>
        </table>
      </center>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->

  </body>
</html>